@font-face {
  font-family: Pattaya;
  src: url('../fonts/Pattaya-Regular.ttf');
}

body{	
	background: url('../images/c2.jpg'), no-repeat;
	background-size: 100%;
}

.topic{
	color: #a34141;
	font-family: Pattaya;
	font-size: 45px;
    margin: 3% 10vw;
}

#form{
	margin-top: -10%;
	margin-left: 40vw; 
	padding: 1%;
	text-align: center;
	border: 1px solid black;
	background: #ffe46f;
	width: 35vw;
}

.title{
	color: Black;
	text-align: center;
	font-family: Pattaya;
	font-size: 22px;
}

.element, .button{
	margin: 1%;
}

input, button{
	background: #fefbd8;
	border: none;
}

.button{
	font-family: Pattaya;
	font-size: 16px;
	margin: 2%;
}

/*адаптивність*/
@media only screen and (max-width: 800px) {
	.topic{
    	margin: 3% 25%;
	}

	#form{
		margin: 0 10%;
		width: 70%;
	}
}